<h1>Login</h1>

<% if flash["notice"] %>
    <div class="error"><%= flash["notice"] %></div>

<% end %>

<%= form_for "/login" do %>
    <%= label :name, "Brewery Name" %>
    <%= text_field_tag :name %>
    <%= submit_tag "Login" %>
<% end %>