<% if @retailerbeer.errors %>
<% @retailerbeer.errors.full_messages.each do |message| %>
<li>
  <%= message %>
</li>
  <% end %>
  <% end %>

<%= form_for @retailerbeer do |rb| %>
<div>
<%= rb.label "Your Glass Size" %>
<%= rb.select :glass_size, options_for_select(Beer.beer_glass_sizes), prompt: "Select a Glass Size" %>
</div>
<div>
<%= rb.label "Your Price" %>
<%= rb.number_field :retailer_price, step: :any %>
</div>
<div>
<%= rb.label "Number of Barrels" %>
<%= rb.number_field :number_of_barrels %>

<%= rb.submit "Update Details" %>
<% end %>
</div>
