<% if @user.errors %>
	<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
<% end %>

<%=form_for @user do |u| %>
	<div>
	<%= u.label "What is your name?" %>
	<%= u.text_field :name %>
	</div>
	<div>
	<%= u.label "Please type a Username" %>
	<%= u.text_field :username %>
	</div>
	<div>
	<%= u.label "Please type a Password" %>
	<%= u.password_field :password  %>
	</div>
	<%if @user.user_type == nil %>
		<div>
		<%= u.label "What kind of User Are You?" %>
		<%= u.select :user_type, options_for_select(User.user_types), prompt: "Please Choose"  %>
		<div>
	<% end %>
	<%= u.submit%>
	</div>
<% end %>
