<%=form_for @user do |u| %>
	<div>
	<%= u.label "What is your name?" %>
	<%= u.text_field :name %>
	</div>
	<div>
	<%= u.label "Please type a Username" %>
	<%= u.text_field :username %>
	</div>
	<div>
	<%= u.label "Please type a Password" %>
	<%= u.password_field :password  %>
	</div>
	<div>
	<%= u.label "Are you a Brewery?" %>
	<%= u.select :user_type, options_for_select(User.user_types), prompt: "What kind of User are you?"  %>
	<div>
	<%= u.submit%>
	</div>
<% end %>
