<%= form_for @retailer do |r| %>
	<div>
	<%= r.label "Retailer Name" %>
	<%= r.text_field :name %>
	</div>
	<div>
	<%= r.label "Your City" %>
	<%= r.text_field :city %>
	</div>
	<div>
	<%= r.label "Your State" %>
	<%= r.select :state, options_for_select(Retailer.us_states) %>	
	</div>
	<div>
	<%= r.submit %>
	</div>
<% end %>