<% if @retailer.errors %>
	<% @retailer.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
<% end %>

<%= form_for @retailer do |r| %>
	<%= r.hidden_field :user_id, value:get_current_user.id %>
	<div>
	<%= r.label "Retailer Name" %>
	<%= r.text_field :name %>
	</div>
	<div>
	<%= r.label "Your City" %>
	<%= r.text_field :city %>
	</div>
	<div>
	<%= r.label "Your State" %>
	<%= r.select :state, options_for_select(Retailer.us_states) %>
	</div>
	<div>
	<%= r.submit %>
	</div>
<% end %>
