<h1><%= @retailer.name%> Information</h1>

<ul>
	<li>Location: <%= @retailer.city %>, <%= @retailer.state %></li>
</ul>

<% if user_owns_retailer %>
<div>
<%=link_to "Edit this Retailer", edit_retailer_path(@retailer) %>
</div>
<div>
<%= link_to "Browse Breweries", breweries_path %>
</div>
<% end %>

<%#add all beers on tap list for customers to see below%>
<h2> Beers on Tap </h2>
<ol>
	<% @retailer.get_available_beers.each do |b| %>
		<li><%= link_to b.beer.name, beer_path(b.beer) %> <% if user_owns_retailer %> - <%=link_to "Edit Details", edit_retailer_beer_path(b) %> <%end%></li>
			<ul>
				<li><%= b.beer.style %> </li>
				<li> <%= b.beer.ABV %>% </li>
				<li>$<%= number_with_precision(b.retailer_price, precision: 2) %> per <%= b.glass_size %> oz pour </li>
				<li> <%= b.number_of_barrels %> barrels in stock </li>
			</ul>
		<% end %>
</ol>


<% if user_owns_retailer %>
<h2>Add a new offering</h2>

<div>
<%if @beer.errors %>
	<% @beer.errors.full_messages.each do |message| %>
	 	<li><%= message %></li>
	 <% end %>
<% end %>
</div><br>

<%= form_for @beer do |b| %>
	<div>
	<%= b.collection_select :brewery_id, Brewery.all, :id, :name, prompt: "Select a Brewery" %>
	</div>
	<div>
	 	<%= b.fields_for :brewery, @beer.build_brewery do |brew| %>
	 	<div>
		<%= brew.label "Brewery Name" %>
		<%= brew.text_field :name %>
		</div>
		<div>
		<%= brew.label "Brewery City" %>
		<%= brew.text_field :city %>
		</div>
		<div>
		<%= brew.label "Brewery State" %>
		<%= brew.select :state, options_for_select(Retailer.us_states), prompt: "Select" %>
		</div>
		<div>
		<%= brew.label "Brewery Description" %>
		<%= brew.text_area :description %>
		</div>
		<div>
		<%= brew.label "Brewery Website" %>
		<%= brew.text_field :website %>
		</div>
		<div>
		<%= brew.label "Year Established" %>
		<%= brew.number_field :established %>
		</div>
		<% end %>
	</div>
	<%=b.hidden_field :retailer_id, value: @retailer.id %>
	<div>
	<%= b.label "Beer Name" %>
	<%= b.text_field :name %>
	</div>
	<div>
	<%= b.label "Style" %>
	<%= b.select :style, grouped_options_for_select(Beer.all_beer_styles), prompt: "Select a Beer Style" %>
	</div>
	<div>
	<%= b.label "ABV" %>
	<%= b.number_field :ABV, step: :any %>
	</div>
	<div>
	<%= b.label "IBU" %>
	<%= b.number_field :IBU %>
	</div>
	<div>
	<%= b.label "Description" %>
	<%= b.text_area :description %>
	</div>
	<%= b.fields_for :retailer_beers, @beer.retailer_beers.build do |rb| %>
		<%= rb.hidden_field :retailer_id, value: @retailer.id %>
		<div>
		<%= rb.label "Your Glass Size" %>
		<%= rb.select :glass_size, options_for_select(Beer.beer_glass_sizes), prompt: "Select a Glass Size" %>
		</div>
		<div>
		<%= rb.label "Your Price" %>
		<%= rb.number_field :retailer_price, step: :any %>
		</div>
		<div>
		<%= rb.label "Number of Barrels" %>
		<%= rb.number_field :number_of_barrels %>
		<div>
		<div>
		<%= rb.label "Available?" %>
		<%= rb.select :available, [['Yes', true], ['No', false]] %>
		</div>
			<% end %>
	<%= b.submit %>
	</div>
<% end %>
<% end %>
