<h1><%= @retailer.name%> Information</h1>

<ul>
	<li><%= @retailer.city %></li>
	<li><%= @retailer.state %></li>
</ul>

<%#only show edit link if session user owns the retail %>
<div>
<%=link_to "Edit this Retailer", edit_retailer_path(@retailer) %>
</div>
<%#need to make sure this link only shows for retailers%>
<div>
<%= link_to "Browse Breweries", breweries_path %>
</div>

<%#add all beers on tap list for customers to see below%>
<h2> See Available Beers </h2>
<ol>
	<% @retailer.get_retailer_beers.each do |b| %>
		<li><%= link_to b.beer.name, beer_path(b.beer) %></li>
			<ul> 
				<li>$<%= number_with_precision(b.retailer_price, precision: 2) %> per <%= b.glass_size %> oz bottle</li>
			</ul>
		<% end %>
</ul>

<h2>Add a new offering</h2>

<%= form_for @beer do |b| %>
	<div>
	<%= b.collection_select :brewery_id, Brewery.all, :id, :name, prompt: "Select a Brewery" %>
	</div>
	<div>
	 	<%= b.fields_for :brewery, @beer.build_brewery do |brew| %>
	 	<div>
		<%= brew.label "Brewery Name" %>
		<%= brew.text_field :name %>
		</div>
		<div>
		<%= brew.label "Brewery City" %>
		<%= brew.text_field :city %>
		</div>
		<div>
		<%= brew.label "Brewery State" %>
		<%= brew.select :state, options_for_select(Retailer.us_states) %>
		</div>
		<div>
		<%= brew.label "Brewery Description" %>
		<%= brew.text_area :description %>
		</div>
		<div>
		<%= brew.label "Brewery Website" %>
		<%= brew.text_field :website %>
		</div>
		<div>
		<%= brew.label "Year Established" %>
		<%= brew.number_field :established %>
		</div>
		<% end %>
	</div>
	<%=b.hidden_field :retailer_id, value: @retailer.id %>
	<div>
	<%= b.label "Beer Name" %>
	<%= b.text_field :name %>
	</div>
	<div>
	<%= b.label "Style" %>
	<%= b.select :style, grouped_options_for_select(Beer.all_beer_styles) %>
	</div>
	<div>
	<%= b.label "ABV" %>
	<%= b.number_field :ABV, step: :any %>
	</div>
	<div>
	<%= b.label "IBU" %>
	<%= b.number_field :IBU %>
	</div>
	<div>
	<%= b.label "Available?" %>
	<%= b.select :available, [['Yes', true], ['No', false]] %>
	</div>
	<div>
	<%= b.label "Price" %>
	<%= b.number_field :price, step: :any %>
	</div>
	<div>
	<%= b.label "On Site Purchase?" %>
	<%= b.select :on_site_purchase, [['Yes', true], ['No', false]] %>
	</div>
	<div>
	<%= b.label "Glass Size (in ounces)" %>
	<%= b.select :glass_size, options_for_select(Beer.beer_glass_sizes), prompt: "Select a Glass Size" %>
	</div>
	<div>
	<%= b.submit %>
	</div>
<% end %>
