<h1><%= @brewery.name %> Information</h1>

<ul>
	<li>City: <%= @brewery.city %></li>
	<li>State: <%= @brewery.state %></li>
	<li>Website: <%= link_to @brewery.website, @brewery.website %></li>
	<li>Year Established: <%= @brewery.established %></li>
</ul>
Description:<br> <%= @brewery.description %><br><br>
<%#only show edit button if session user owns this brewery %>
<div>
<%= link_to "Edit #{@brewery.name}", edit_brewery_path(@brewery) %>
</div>

<h2>Available Beers</h2>
<ol>
<% @brewery.get_available_beers.each do |beer| %>
	<li><%= link_to beer.name, beer_path(beer) %></li>
<% end %>
</ol>
<%#only show add new offering if session user is brewery owner%>
<h2>Add a new offering</h2>

<%= form_for @beer do |b| %>
	<%=b.hidden_field :brewery_id, value: @brewery.id %>
	<div>
	<%= b.label "Beer Name" %>
	<%= b.text_field :name %>
	</div>
	<div>
	<%= b.label "Style" %>
	<%= b.text_field :style %>
	</div>	
	<div>
	<%= b.label "ABV" %>
	<%= b.number_field :ABV, step: :any %>
	</div>
	<div>
	<%= b.label "IBU" %>
	<%= b.number_field :IBU %>
	</div>
	<div>
	<%= b.label "Available?" %>
	<%= b.select :available, [['Yes', true], ['No', false]] %>
	</div>
	<div>
	<%= b.label "Price" %>
	<%= b.number_field :price, step: :any %>
	</div>
	<div>
	<%= b.label "On Site Purchase?" %>
	<%= b.select :on_site_purchase, [['Yes', true], ['No', false]] %>
	</div>
	<div>
	<%= b.label "Glass Size (in ounces)" %>
	<%= b.number_field :glass_size %>
	</div>
	<div>
	<%= b.submit %>
	</div>
<% end %>