<h1><%= @beer.name %> Information</h1>

<%= image_tag(@beer.image) if @beer.image.attached? %>
<ul>
	<li>Style: <%= @beer.style %></li>
	<li>ABV: <%= number_with_precision(@beer.ABV, precision:2) %></li>
	<li>IBU: <%= number_with_precision(@beer.IBU, precision:2) %></li>
	<li>Price: $<%= number_with_precision(@beer.price, precision:2) %></li>
	<li>Available? <%= @beer.available %></li>
	<li>Availability: <%= @beer.availability %></li>
	<li>On Site Purchase? <%= @beer.on_site_purchase %></li>
	<li>Glass Size: <%= @beer.glass_size %> oz</li>
	<li>Brewery: <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %></li>
</ul>

<% if !@beer.image %>
<%= form_for @beer do |b| %>
	<%= b.file_field :image %><br>
	<%= b.submit "Add Image" %>
<% end %>
<% end %>

<div>
Description:
<%= @beer.description %>
</div>

<% if user_owns_brewery %>
	<div>
	<%= link_to "Edit this Beer", edit_beer_path(@beer) %>
	</div>
<% end %>

<h2>Tags associated with this beer</h2>
<ul>
	<% @beer.tags.each do |tag| %>
		<li><%= link_to tag.description, beers_path(beer_tag_description: tag.description) %></li>
	<% end %>
</ul>

<% if !@beer.retailers.empty? %>
<h2>Retailers Offering This Beer</h2>

<ul>
	<% @beer.retailers.each do |retailer| %>
		<li><%= link_to retailer.name, retailer_path(retailer) %></li>
	<% end %>
</ul>
<% end %>

<% if retailer_doesnt_offer_beer %>
<h2>Add this beer to my tap list</h2>

<%= form_for @retailerbeer do |rb|
	%>
	<%= rb.hidden_field :beer_id, value: @beer.id %>
	<%= rb.hidden_field :retailer_id, value: get_current_user.retailer.id %>
	<div>
	<%= rb.label "Your Glass Size" %>
	<%= rb.select :glass_size, options_for_select(Beer.beer_glass_sizes), prompt: "Select a Glass Size" %>
	</div>
	<div>
	<%= rb.label "Your Price" %>
	<%= rb.number_field :retailer_price, step: :any %>
	</div>
	<div>
	<%= rb.label "Number of Barrels" %>
	<%= rb.number_field :number_of_barrels %>
	</div>
	<%= rb.submit "Add To Tap" %>
<% end %>
<% end %>

<% if my_favorite_beer %>
		Here's what you think:<br>
		<h3>"<%= my_favorite_beer.review %>"</h3>
	<% else %>
		<h2>Favorite this Beer</h2>
		<%= form_for @favorite_beer do |f| %>
			<%= f.hidden_field :beer_id, value: @beer.id %>
			<%= f.hidden_field :user_id, value: get_current_user.id %>
			<div>
			<%=	f.label "Add Your Thoughts" %><br>
			<%= f.text_area :review %>
			</div>
			<%= f.submit "Favorite" %>
		<% end %>
	<% end %>

<h4>Add a Tag to this Beer </h4>
<%= form_for @beer_tag do |bt| %>
	<%= bt.collection_select :tag_id, Tag.all, :id, :description, prompt: "Choose an Existing Tag"%>
	<%= bt.hidden_field :beer_id, value: @beer.id %>
	<%= bt.submit "Add Tag" %>
	<% end %>
<h4>OR</h4>

<h4>Create a new tag:</h4>
<div>
<%= form_for @tag do |t| %>
	<%= hidden_field_tag 'beer_id', @beer.id %>
	<%= t.label "Description" %>
	<%= t.text_field :description %>
	<%= t.submit "Add Tag" %>
<% end %>
</div><br>

<div>
<%= link_to "Back to Beer List", beers_path %>
</div>
