<h1><%= @beer.name %> Information</h1>

<ul>
	<li>Style: <%= @beer.style %></li>
	<li>ABV: <%= @beer.ABV %></li>
	<li>IBU: <%= @beer.IBU %></li>
	<li>Price: <%= @beer.price %></li>
	<li>Available?: <%= @beer.available %></li>
	<li>Availability: <%= @beer.availability %></li>
	<li>On Site Purchase?: <%= @beer.on_site_purchase %></li>
	<li>Glass Size: <%= @beer.glass_size %></li>
	<li>Brewery: <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %></li>
</ul>
<div>
Description:
<%= @beer.description %>
</div>

<div>
<%= link_to "Edit this Beer", edit_beer_path(@beer) %>
</div>
<div>
<%= link_to "Beer List", beers_path %>
</div>

<h2>Retailers Offering This Beer</h2>

<ul>
	<% @beer.retailers.each do |retailer| %>
		<li><%= link_to retailer.name, retailer_path(retailer) %></li>
	<% end %>
</ul>
<%#this is for retailers only%>
<h2>Add this beer to my tap list</h2>


