<h1><%= @beer.name %> Information</h1>

<ul>
	<li>Style: <%= @beer.style %></li>
	<li>ABV: <%= number_with_precision(@beer.ABV, precision:2) %></li>
	<li>IBU: <%= number_with_precision(@beer.IBU, precision:2) %></li>
	<li>Price: <%= number_with_precision(@beer.price, precision:2) %></li>
	<li>Available?: <%= @beer.available %></li>
	<li>Availability: <%= @beer.availability %></li>
	<li>On Site Purchase?: <%= @beer.on_site_purchase %></li>
	<li>Glass Size: <%= @beer.glass_size %></li>
	<li>Brewery: <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %></li>
</ul>

<h2>Tags associated with this beer</h2>
<ul>
	<% @beer.tags.each do |tag| %>
		<li><%= link_to tag.description, beers_path(beer_tag_description: tag.description) %></li>
	<% end %>
</ul>
<div>
Description:
<%= @beer.description %>
</div>

<div>
<%= link_to "Edit this Beer", edit_beer_path(@beer) %>
</div>
<div>
<%= link_to "Beer List", beers_path %>
</div>

<h2>Retailers Offering This Beer</h2>

<ul>
	<% @beer.retailers.each do |retailer| %>
		<li><%= link_to retailer.name, retailer_path(retailer) %></li>
	<% end %>
</ul>
<%#this is for retailers only%>
<h2>Add this beer to my tap list</h2>

<%= form_for @retailerbeer do |rb|
	%>
	<%= rb.hidden_field :beer_id, value: @beer.id %>
	<%= rb.hidden_field :retailer_id, value: 1%>
	<div>
	<%= rb.label "Your Glass Size" %>
	<%= rb.select :glass_size, options_for_select(Beer.beer_glass_sizes), prompt: "Select a Glass Size" %>
	</div>
	<div>
	<%= rb.label "Your Price" %>
	<%= rb.number_field :retailer_price, step: :any %>
	</div>
	<div>
	<%= rb.label "Number of Barrels" %>
	<%= rb.number_field :number_of_barrels %>
	</div>
	<%= rb.submit "Add To Tap" %>
<% end %>

<% if FavoriteBeer.find_by(user_id: 2, beer_id: @beer.id) %>
		<h2>You already favorited this beer!</h2>
	<% else %>
		<h2>Favorite this Beer</h2>
		<%= form_for @favorite_beer do |f| %>
			<%= f.hidden_field :beer_id, value: @beer.id %>
			<%= f.hidden_field :user_id, value: 2 %>
			<%= f.submit "Favorite" %>
		<% end %>
	<% end %>

<h2>Add a Tag to this Beer </h2>
<%= form_for @beer_tag do |bt| %>
	<%= bt.collection_select :tag_id, Tag.all, :id, :description, prompt: "Choose an Existing Tag"%>
	<%= bt.hidden_field :beer_id, value: @beer.id %>
	<%= bt.submit "Add Tag" %>
	<% end %>
<h3>OR</h3>

<h2>Create a new tag:</h2>
<div>
<%= form_for @tag do |t| %>
	<%= hidden_field_tag 'beer_id', @beer.id %>
	<%= t.label "Description" %>
	<%= t.text_field :description %>
	<%= t.submit "Add Tag" %>
<% end %>
</div>

