<!DOCTYPE html>
<html>
  <head>
    <title>TapListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session["user_id"] %>
      <div>Welcome <%= get_current_user.username %></div>
      <div>
      <%= link_to "Logout", logout_path, method: "DELETE" %>
      </div>
      <div>
      <%= link_to "Home Page", user_path(get_current_user) %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
