<!DOCTYPE html>
<html>
  <head>
    <title>Tap List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'http://www.csszengarden.com/examples/style.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield (:body_class) %>">
  
    <% if session["user_id"] %>
      <div class="bar">
      <div id="logo">
            <%= image_tag src= "logo.png", :id=> "logo_image"%>
      </div>
      <div class="login_buttons">
      <div class="login_field hover" id="logout">
      <%= link_to "Logout", logout_path, method: "DELETE" %>
      </div>
      <div class="login_field hover" id="home_page">
      <%= link_to "Home Page", user_path(get_current_user) %>
      </div>
      <div class="login_field hover" id="beer_list">
      <%= link_to "Browse Beers", beers_path %>
      </div>
    </div>
    </div><br>
    <div class="login_field" id="welcome">Welcome <%= get_current_user.username %></div>
    <% end %>
    <%= yield %>
  </body>


</html>